* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;

}
/* ============ Header ============ */

.header {
    position: sticky;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header_menu {
    height: 80px;
    padding: 13px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_eng {
    cursor: pointer;
    margin-right: 50px;
    font-family: 'Tourney';
    font-weight: 600;
    font-size: 22px; 
    line-height: 18px; 
    letter-spacing: 0.04em;
    text-decoration: none;
}

.menu_text {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size:  22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* ============ main ============ */

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main_background {
    position: fixed;
    z-index: -2;
    Top: 150px;
    right: 40px;
    padding-right: 0;
}

.main_aside {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 70px;
    column-gap: 30px;
    position: absolute;
}

.aside_nav {
    max-width: 535px;
    min-width: 385px;
    margin-right: 30px;
}

.nav_menu {
    position: sticky;
    top:0px;
    padding-top: 70px;
}

.menu_li_list {
    position: sticky;
    top: 160px;
}

.menu_li_list .list_li {
    margin-bottom: 70px;
}

.list_li {
    display: block;
    text-align: left;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.main_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-left: 415px;
    margin-top: 70px;
}

.main_line {
    width: 100px;
    height: 8px;
    background: #000000;
    margin-bottom: 20px;
}

.title {
    display: flex;
    gap: 10px;
}

.title_first {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title_second {
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.04em;
}

.section_text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    margin-top: 40px;
}
p#first {
    margin-top: 33px;
}
p#second {
    margin-top: 33px;
}
p#third {
    margin-top: 30px;
}
p#fourth {
    margin-top: 32px;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.background {
    background: #DADADA;
}