$color-yellow: #fc0;
$color-title: #666;
$color--text: #333;

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: 'Raleway', sans-serif;
@include fz(14);
line-height: 24px;
color: $color--text;
}

.container {
    width: min(90%, 1170px);
    margin: 0 auto;
}
.open-sans {
    font-family: 'open Sans', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 121px 0 122px;
}
.header {
    text-align: center;
    margin-bottom: 40px;
    .separator {
        position: relative;
        width: min(100%, 450px);
        height: 1px;
        border-color: #fc0;
        svg {
            background-color: #fff;
            position: absolute;
            top: -7px;
            padding: 0 5px;
            .icon-wrap {
                transform: translateX(-50%);
            }
        }
    }
}
.suptitle {
font-weight: 500;
@include fz(18);
line-height: 24px;
text-align: center;
text-transform: uppercase;
color: #898F8F;
}
h1 {
    font-weight: 900;
    @include fz(60);
    line-height: 66px;
    text-transform: uppercase;
    color: #FFCC00;   
    margin-bottom: 40px;
}

.main-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
    .column {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
.image-wrap {
    position: relative;
    &::after, &::before {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        border-top: 1px solid $color-yellow;
    }
    &::after {
        right: 0;
        border-right: 1px solid $color-yellow;
    }
    &::before {
        left: 0;
        border-left: 1px solid $color-yellow;
    }

}
.column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $color-yellow
}

.image-wrap2 {
    border: 1px solid $color-yellow;
    &::after, &::before {
        content: '';
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        border-top: 1px solid $color-yellow;
    }
    &::after {
        right: 0;
        border-right: 1px solid $color-yellow;
    }
    &::before {
        left: 0;
        border-left: 1px solid $color-yellow;
    }

}